@import '../../styles/variables.scss';

.input {
	margin: 1em auto;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	letter-spacing: 1px;

	.label {
		display: flex;
		width: calc(100% - 1em);
		padding-left: 0.5em;
		color: $dark_blue;
	}

	.item {
		all: unset;
		height: 20px;
		padding: 0.3em;
		background-color: #fff;
		border: none;
		// padding: 0.5em;
		border-radius: 5px;
		color: $grayish_blue;
		width: 100px;

		&:focus {
			outline: none;
		}
	}
}
