@import '../../styles/variables.scss';

.home {
	.card {
		background-color: #fff;
		padding: 1em;
		border-radius: 15px;
		max-width: 20em;
		box-shadow: 0px 0px 10px 0px rgba(207, 219, 233, 0.8);

		.text {
			text-align: center;
			margin: 1.5em auto;
			letter-spacing: 1px;
			padding: 0 0.5em;

			.title {
				font-size: 1.2rem;
				font-weight: 700;
				color: $dark_blue;
			}

			.description {
				font-size: 0.9rem;
				opacity: 0.8;
				font-weight: 400;
				color: $grayish_blue;
			}
		}
	}
	.qrCode {
		height: 20em;
		padding: 2em;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		border-radius: 15px;
		background-color: $blue;
		position: relative;
		overflow: hidden;

		&::before,
		&::after {
			content: '';
			position: absolute;
			background-color: rgba(255, 255, 255, 0.08);
			width: 22em;
			height: 22em;
			right: 6rem;
			top: -12rem;
			border-radius: 100%;
			z-index: 99;
		}

		&::after {
			width: 20em;
			height: 22em;
			right: -8rem;
			top: 14rem;
		}
	}
}
