.app {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	// margin-top: 1em;
}

@media screen and (min-width: 1000px) {
	.app {
		margin: 0;
	}
}
